<title>Character Builder / The Ol'Tankard</title>

<body>

  <div class="section">

    <div class="container card mt-2">
      <div class="row card-container">
        <div class="col-md-5 mt-5 text-center">
          <img src="../../assets/img/dragonborn_render.png" id="race-render" alt="">
        </div>
        <div class="col-md-7 mt-5">
            <div class="info info-horizontal info-hover-primary">
                <div class="description pl-4">
                  <h5 class="title">Races</h5>
                  <h6 id="race-name">Dragonborn</h6>
                  <p id="race-description">Born of dragons, as their name proclaims, the dragonborn walk proudly through a world that greets them with fearful incomprehension. Shaped by draconic gods or the dragons themselves, dragonborn originally hatched from dragon eggs as a unique race, combining the best attributes of dragons and humanoids.</p>
                </div>
                <div class="row text-center mb-5 mt-5">
                  <div class="col-md-4">
                    <img src="../../assets/img/dragonborn_banner.jpg" id="race-1" class="race-banner" alt="" (click)="activeRace(1)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/dwarf_banner.png" id="race-2" class="race-banner" alt="" (click)="activeRace(2)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/elf_banner.jpg" id="race-3" class="race-banner" alt="" (click)="activeRace(3)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/gnome_banner.png" id="race-4" class="race-banner" alt="" (click)="activeRace(4)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/halfelf_banner.jpg" id="race-5" class="race-banner" alt="" (click)="activeRace(5)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/halfling_banner.jpg" id="race-6" class="race-banner" alt="" (click)="activeRace(6)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/halforc_banner.png" id="race-7" class="race-banner" alt="" (click)="activeRace(7)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/human_banner.png" id="race-8" class="race-banner" alt="" (click)="activeRace(8)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/tiefling_banner.jpg" id="race-9" class="race-banner" alt="" (click)="activeRace(9)">
                  </div>
                </div>
            </div>
        </div>

      </div>
    </div>

    <div class="container card mt-5">
      <div class="row card-container">
        <div class="col-md-6 mt-5">
            <div class="info info-horizontal info-hover-primary">
                <div class="description pl-4">
                  <h5 class="title">Classes</h5>
                  <h6 id="class-name">Barbarian</h6>
                  <p id="class-description">These barbarians, different as they might be, are defined by their rage: unbridled, unquenchable, and unthinking fury. More than a mere emotion, their anger is the ferocity of a cornered predator, the unrelenting assault of a storm, the churning turmoil of the sea.</p>
                </div>
                <div class="row text-center mb-5 mt-5">
                  <div class="col-md-3">
                    <img src="../../assets/img/barbarian_icon.jpeg" id="class-1" class="class-icon" alt="" (click)="activeClass(1)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/bard_icon.jpeg" id="class-2" class="class-icon" alt="" (click)="activeClass(2)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/cleric_icon.jpeg" id="class-3" class="class-icon" alt="" (click)="activeClass(3)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/druid_icon.jpeg" id="class-4" class="class-icon" alt="" (click)="activeClass(4)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/fighter_icon.jpeg" id="class-5" class="class-icon" alt="" (click)="activeClass(5)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/monk_icon.jpeg" id="class-6" class="class-icon" alt="" (click)="activeClass(6)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/paladin_icon.jpeg" id="class-7" class="class-icon" alt="" (click)="activeClass(7)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/ranger_icon.jpeg" id="class-8" class="class-icon" alt="" (click)="activeClass(8)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/rogue_icon.jpeg" id="class-9" class="class-icon" alt="" (click)="activeClass(9)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/sorcerer_icon.jpeg" id="class-10" class="class-icon" alt="" (click)="activeClass(10)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/warlock_icon.jpeg" id="class-11" class="class-icon" alt="" (click)="activeClass(11)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/wizard_icon.jpeg" id="class-12" class="class-icon" alt="" (click)="activeClass(12)">
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5 text-center">
          <img src="../../assets/img/barbarian_render.png" id="class-render" alt="">
        </div>
        <a href="/menuprincipal-player" class="btn btn-lg btn-main btn-icon mb-3 mb-sm-0">
          <div class="btn-inner--text">Back</div>
        </a>
        <div class="col text-right">
          <a href="/character-information" class="btn btn-lg btn-main btn-icon mb-3 mb-sm-0">
            <div class="btn-inner--text">Next</div>
          </a>
        </div>
      </div>
    </div>

  </div>

</body>
