.contenidor-titolarticle {
  display: flex;
  width:60%;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: -2vh;
  flex-flow: wrap;
  margin-bottom: 5vh;
}

.contenidor-titolarticle > h1 {
  color: white;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: auto;
  font-family: Open Sans, sans-serif;
  font-size: 3vw;
  margin-top: 2%;
  margin-bottom: -3%;
}
button{
  margin-left: auto;
  margin-right: auto;
  background-color: #b71c1c;
  border-color: #b71c1c;
  margin-top: 2%;
}
button:hover{
  background-color: grey;
  border-color: grey;
  color: black;
}

.container{
  background-color: white;
  border-radius: 25px;
  margin-bottom: 5vh;
  position: relative;
  border-radius: 25px;
  padding: 1%;
  padding-right: 2vw;
  padding-left: 2vw;
}
label{
  margin-top: 2%;
  margin-bottom: -2%;
  font-family: Open Sans, sans-serif;
}
textarea{
  padding-bottom: 20%;
}

.h1bottom {
  font-style: normal;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  line-height: 14px;
  min-width: 150px;
  width: 10%;
  text-align: center;
  vertical-align: middle;
  padding: 1vw;
  text-transform: uppercase;
  transition: all .15s ease;
  font-size: 2vw;
  border-radius: 25px;
  margin-top: -2vh;
  margin-bottom: 3vh;
  color: white;
}

.h1bottom:hover {
  background-color: white;
  color: #d32f2f;
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
  cursor: pointer;
}
body{
  background-color: #d32f2f;
  padding-top: 3vh;
  padding-bottom: 2vh;
}
