/* Flex principal */

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

body {
  background-color: #d32f2f;
}

.contenidor {
  display: flex;
  height: 100%;
  width: 20%;
  margin-left: 10vw;
  margin-right: auto;
  flex-flow: wrap;
  background-color: rgba(241, 247, 241, 0.4);
}

.item {
width: 100%;
height: 100%;
margin-left: auto;
margin-right: auto;
padding-bottom: 10vw;
}

.h2categoria {
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 3vw;
  margin-left: auto;
  margin-right: auto;
}

.principalitem{
  width: 100%;
  height: 100%;
  margin-top: 4vw;
  margin-left: auto;
  margin-right: auto;
}

.principalitem > h1 {
  color: white;
  font-size: 4vw;
  width: 40%;
  height: 10%;
  margin-top: 4vw;
  margin-left: 3vw;
  margin-right: auto;
  position: absolute;
}

.imagenEmergente {
  text-align: center;
  color: white;
  font-size: 2vw;
  width: 60%;
  height: auto;
  margin-left: 40vw;
  margin-right: 2vw;
  position: absolute;
}

.imagenEmergente > h3 {
  margin-top: 1vw;
  margin-left: auto;
  margin-right: auto;
}

.imagenEmergente > img {
  text-align: center;
  color: white;
  font-size: 2vw;
  width: 60%;
  height: 60%;
  margin-top: 4vw;
  margin-left: auto;
  margin-right: auto;
}

.firstmargin {
  margin-top: 13vw;
}

h2:hover {
  background-color: white;
  color: #d32f2f;
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
  cursor: pointer;
}
.adeu {
  display: none;
}

a {
  color: #212529;
  text-decoration: none;
}

a:hover {
  color: #d32f2f;
}
