<body>
<div class="panel panel-primary">
  <div class="contenidor-titolarticle">
    <h1>Player Notes</h1>
  </div>
  <a class="linkbutton" href="/menuprincipal-player">Back</a>
  <div lass="container">
    <div class="row">
      <div class="col-3 hoverdiv" (click)="updateNotes(notes.id)" *ngFor="let notes of notesJugador | async">
            <div (click)="confirmacionDelete(notes.id)" (click)="stoppropagation()" class="divbasura">
              <i class="fas fa-trash-alt basura"></i>
            </div>
            <p>{{notes.name}}</p>
      </div>
      <div class="col-3 newNote" (click)="createNotes()">
        <p>New note</p>
      </div>
    </div>
  </div>
</div>
</body>
