*,
:after,
:before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: #b71c1c;
}

.lead, p {
    font-weight: 300;
    line-height: 1.7;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

a:hover {
    text-decoration: none
}

a:hover {
    color: #b71c1c
}

img {
    border-style: none;
}

img,
svg {
    vertical-align: middle;
}

svg {
    overflow: hidden;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2E2E2E;
    text-align: left;
    background: rgb(211,47,47);
    background: linear-gradient(180deg, rgba(211,47,47,1) 0%, rgba(183,28,28,1) 100%);
}

.pb-lg, .py-lg {
    padding-top: 6rem!important;
    padding-bottom: 6rem!important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.wrapper {
    margin-bottom: 40px;
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1040px
    }
}

a.text-info {
    color: #d32f2f!important;
}
a.text-info:hover {
    color: #b71c1c!important;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

/* SECTIONS */

.section {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 4rem
}

.section-shaped {
  position: relative;
  overflow: hidden;
}

.section-shaped .shape-style-1.shape-primary {
  background: rgb(211,47,47);
  background: linear-gradient(180deg, rgba(211,47,47,1) 0%, rgba(183,28,28,1) 100%);
}

.section-shaped .shape {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .section-hero {
      min-height: 500px;
  }
}

.separator {
  top: auto;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  z-index: 1;
  transform: translateZ(0);
  overflow: hidden;
}

.separator-skew {
  height: 80px;
}

.separator-bottom {
  top: auto;
  bottom: 0;
}

.separator-bottom svg {
  bottom: 0;
}

.separator, .separator svg {
  position: absolute;
  pointer-events: none;
}

.fill-white {
  fill: #fff;
}

.page-header .logo {
  width: 500px;
}

.lead {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

.lead p {
  font-weight: 300;
  line-height: 1.7;
}

.btn {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  min-width: 150px;
  text-align: center;
  vertical-align: middle;
  padding: .625rem 1.25rem;
  text-transform: uppercase;
  transition: all .15s ease;
}

.btn:hover {
  color: #b71c1c;
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
}

.btn:not(:last-child) {
  margin-right: .5rem;
}

.btn-lg {
  padding: .875rem 1rem;
}

.btn-white {
  background: #FFFFFF;
  color: #d32f2f;
}

.btn-main {
  color: #FFFFFF;
  background: #d32f2f;
}

.card-container {
  padding: 30px;
}

.race-preview {
  border-radius: 3px;
  padding: 10px;
  height: 200px;
  width: 400px;
}

.race-banner {
  border-radius: 3px;
  padding: 10px;
  height: 120px;
  width: 160px;
}

.race-banner:hover, .race-banner:active {
  cursor: pointer;
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-2px);
}

.class-icon {
  border-radius: 3px;
  padding: 10px;
  height: 120px;
  width: 120px;
}

.class-icon:hover, .class-icon:active {
  cursor: pointer;
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-2px);
}

.form-control:focus {
  border-color: #ef5350;
  box-shadow: 0 0 0 3px #ef9a9a;
}
