<title>Character Viewer / The Ol'Tankard</title>

<body>

  <div class="section">
    <div class="container card mt-2">
      <div class="row card-container">
        <div class="col mt-5">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">

              <h5 class="title">Characters</h5>
              <div class="container card mt-3">
                <div class="row row-card-container">
                  <div class="col mt-3">
                      <div class="info info-horizontal info-hover-primary">
                          <div class="description pl-3">
                            <div class="row">
                              <div class="col-md-3">
                                <img src="../../assets/img/wizard_icon.jpeg" class="class-icon" alt="">
                              </div>
                              <div class="col-md-9">
                                <h5 class="title">Caleb Widogast</h5>
                                <p><span>STR:</span> 8&emsp;<span>DEX:</span> 13&emsp;<span>CON:</span> 14&emsp;<span>INT:</span> 15&emsp;<span>WIS:</span> 12&emsp;<span>CHA:</span> 10</p>
                                <div class="row">
                                  <div class="col-md-6">
                                    <p><span>Alignment:</span> Neutral</p>
                                  </div>
                                  <div class="col-md-6">
                                    <p><span>Height (Meters):</span> 1.80</p>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <p><span>Age (Years):</span> 33</p>
                                  </div>
                                  <div class="col-md-6">
                                    <p><span>Gender:</span> Male</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>

              <a href="/character-creation">
                <div class="container card mt-3 mb-5">
                  <div class="row row-card-container">
                    <div class="col mt-3">
                        <div class="info info-horizontal info-hover-primary">
                            <div class="description pl-4">
                              <h5 class="title">Create new character</h5>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </a>
              <a href="/menuprincipal-player" class="btn btn-lg btn-main btn-icon mb-3 mb-sm-0">
                <div class="btn-inner--text">Back</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
