<title>Character Builder / The Ol'Tankard</title>

<body>

  <div class="section">

    <div class="container card mt-2">
      <div class="row card-container">
        <div class="col-md-6 mt-5">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">

              <form onsubmit="return false">

                <h5 class="title">Ability Sores</h5>
                <div class="form-row mb-3">
                  <div class="col">
                    <label for="strength">Strength</label>
                    <input type="number" class="form-control" id="strength" placeholder="8" max="18">
                  </div>
                  <div class="col">
                    <label for="dexterity">Dexterity</label>
                    <input type="number" class="form-control" id="dexterity" placeholder="13" max="18">
                  </div>
                  <div class="col">
                    <label for="constitution">Constitution</label>
                    <input type="number" class="form-control" id="constitution" placeholder="14" max="18">
                  </div>
                </div>
                <div class="form-row mb-3">
                  <div class="col">
                    <label for="intelligence">Intelligence</label>
                    <input type="number" class="form-control" id="intelligence" placeholder="15" max="18">
                  </div>
                  <div class="col">
                    <label for="wisdom">Wisdom</label>
                    <input type="number" class="form-control" id="wisdom" placeholder="12" max="18">
                  </div>
                  <div class="col">
                    <label for="charisma">Charisma</label>
                    <input type="number" class="form-control" id="charisma" placeholder="10" max="18">
                  </div>
                </div>

                <h5 class="title">Character Details</h5>
                <div class="form-group">
                  <label for="character-name">Character Name</label>
                  <input type="text" class="form-control" id="character-name" placeholder="Caleb Widogast">
                </div>

                <div class="form-group">
                  <label for="alignment">Alignment</label>
                  <select class="form-control" id="alignment">
                    <option>-- Choose an Option --</option>
                    <option>Chaotic Evil</option>
                    <option>Chaotic Good</option>
                    <option>Chaotic Neutral</option>
                    <option>Lawful Evil</option>
                    <option>Lawful Good</option>
                    <option>Lawful Neutral</option>
                    <option>Neutral</option>
                    <option>Neutral Evil</option>
                    <option>Neutral Good</option>
                  </select>
                </div>

                <h5 class="title">Physical Characteristics</h5>
                <div class="form-group">
                  <label for="height">Height (Meters)</label>
                  <input type="text" class="form-control" id="height" placeholder="1.80">
                </div>

                <div class="form-group">
                  <label for="age">Age (Years)</label>
                  <input type="number" class="form-control" id="age" placeholder="33">
                </div>

                <div class="form-group">
                  <label for="gender">Gender</label>
                  <input type="text" class="form-control" id="gender" placeholder="Male">
                </div>

                <h5 class="title">Notes</h5>
                <div class="form-group">
                  <label for="backstory">Backstory</label>
                  <textarea class="form-control" id="backstory" rows="3"></textarea>
                </div>

                <a href="/character-creation" class="btn btn-lg btn-main btn-icon mb-3 mb-sm-0">
                  <div class="btn-inner--text">Back</div>
                </a>
                <button type="submit" class="btn btn-lg btn-main btn-icon mb-3 mb-sm-0" (click)="successAlert()">Submit</button>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>
